@media screen and (min-width: 992px) {
    /*.navbar{
        height: 60px;
    }*/
  }

  @media screen and (max-width: 992px) {
    
  }

.page-item:hover:not(.disabled){
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

/*Прилипание навигации*/
.pos-sticky-top {
    position: sticky;
    z-index: 2;
    top: 0;
}




